/*
*   Default
*/

body{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.form {
    display: flex;
}

.form__input {
    flex-grow: 1;
    background: #FFFFFF;
    border-radius: 50px 0px 0px 50px;
    padding: 18px 20px;

}
.form__btn {
    letter-spacing: 0.5px;
    background: #000000;
    border-radius: 0px 50px 50px 0px;
    color: #FFFFFF;
    padding: 18px 20px;
}

.form__btn:hover{
    opacity: 0.7;
}



/*
*   HEADER
*/



.header {
    margin-bottom: 80px;
    
}

.header__inner{
    min-height: 900px;
    background-image: url(/img/bgHeader.jpg);
    background-repeat : no-repeat;
    background-size: cover;
    background-position: center center;
}

.header__content {
    max-width: 342px;
}

.header__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 15px;
}

.header__text {
    max-width: 342px;
    font-size: 20px;
    margin-bottom: 14px;
}

.header__content-form{
    margin-bottom: 10px;
}

.header__desc {
    margin-bottom: 40px;
}

.header__download {
    display: flex;
}

.header__download-link:not(:last-child){
    margin-right: 25px;
}

.header__footer{
    background: #EFEFEF;
    min-height: 115px;
    padding-top: 36px;
    padding-bottom: 41px;
}
.header__footer-container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__achieve {
    position: relative;
    font-size: 12px;
    text-align: center;
}
.header__achieve-text::before{
    position: absolute;
    content: "";
    background-image: url(/img/icons/left.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -55px;
    top: 0;
}
.header__achieve-text::after{
    position: absolute;
    content: "";
    background-image: url(/img/icons/right.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: -55px;
    top: 0;
}
.header__achieve-title {
    font-size: 12px;
    letter-spacing: 1.93px;
    text-transform: uppercase;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 90px;
}
.nav__logo {
}
.nav__menu {
    display: flex;

}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__link:hover{
    opacity: 0.7;
}
.nav__item {
}
.nav__item:not(:last-child) {
    margin-right: 60px;
}
.nav__item:last-child{
    margin-right: 20px;
}



/*
*   INFO
*/



.info__content {
    padding: 0 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.info__title{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.info__cards{
    display: grid;
    grid-template-columns: repeat(2, 530px);
    grid-template-rows: repeat(2, 600px);
    gap: 40px;
}

.info__card {
    display: flex;
    flex-direction: column;
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
}

.info__main-card{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 600px;
    background-image: url(/img/info/1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.info__main-card-title{
    font-weight: 700;
    font-size: 53px;
    line-height: 1.25;
    max-width: 500px;
    margin-bottom: 235px;
    padding: 40px 0px 0px 42px;
}

.info__card-title {
    padding: 40px 0px 0px 42px;
    font-weight: 700;
    font-size: 53px;
    line-height: 1.25;
    max-width: 460px;
    flex-grow: 1;
    margin-bottom: 15px
}

.info__card-btn {
    display: inline-block;
    max-width: 170px;
    margin-left: 40px;
    margin-bottom: 80px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 700;
    background: #000000;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 20px 38px;
}

.info__card-btn:hover{
    opacity: 0.7;
}



/*
*   COMPANY
*/



.company {
    background: #EFEFEF;
}

.company__container {
    padding: 80px 0;
}

.company__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.company__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 65px;
}

.company__item {
    width: 315px;
}
.company__item-img{
    max-width: 100%;
}


/*
*   CHOISE
*/



.choise__container {
    padding-top: 80px;
    padding-bottom: 100px;
}

.choise__subtitle {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.choise__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 77px;
}

.choise__cards {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 40px;
}

.choise__card {
    height: 700px;
    width: 530px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.choise__card--pink {
    background-image: url(/img/cards/1.jpg);
}

.choise__card-title {
    padding-top: 36px;
    font-weight: 700;
    font-size: 55px;
    line-height: 1.2;
    text-align: center;
}

.choise__card--black {
    background-image: url(/img/cards/2.jpg);
}

.choise__card-title--pink {
    color: #FFFFFF;
}



/*
*   DOWNLOAD
*/



.download {
    background: #FCD0BA;
}
.download__container {
    padding: 80px 0;
    text-align: center;
}

.download__title {
    font-weight: 700;
    font-size: 90px;
    line-height: 1.2;
    margin-bottom: 46px;
}
.download__form {
    display: inline-block;
}



/*
*   FOOTER
*/



.footer {
    background-color: #000000;
    color: #B3B3B3;
}

.footer__container {
    padding-top: 40px;
    padding-bottom: 80px;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer__column:not(:first-child) {
    margin-top: 20px;
}

.footer__item:not(:last-child){
    margin-bottom: 20px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__text {
    font-size: 12px;
    max-width: 254px;
}

.footer__line {
    background: #4D4D4D;
    height: 1px;
    width: 100%;
    margin-bottom: 40px;
}


.footer__desc-text{
    font-size: 12px;
}

.footer__desc-text:not(:last-child){
    margin-bottom: 16px;
}
.footer__link:hover{
    opacity: 0.7;
}



/*
*   Mobile Adaptation
*/

@media (max-width: 1400px){
    .header__footer-container{
        max-width: 1170px;
        padding: 0 35px;
    }
    .header__achieve-text::before,
    .header__achieve-text::after{
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .header__achieve-text::before{
        left: -35px;
        top: 0;
    }
    .header__achieve-text::after{

        right: -35px;
        top: 0;
    }
    .download__title{
        font-size: 60px;
    }

    .company__item{
        max-width: 30%;
    }
}



@media (max-width: 1200px){
    .header__footer-container{
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 55px;
    }

    .info__main-card{
        max-width: 100%;
        height: 100%;
    }
    .info__card{
        max-width: 100%;
    }
    .info__cards{
        display: grid;
        flex-basis: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
    }
    .info__card-btn{
        margin-bottom: 35px;
        margin-left: 20px;

    }

    .info__card-title{
        font-size: 30px;
        max-width: 370px;
        padding-left: 20px;
    }

    .info__main-card-title{
        font-size: 40px;
        max-width: 450px;
        margin-bottom: 30px;
        padding-left: 20px;
    }







}



@media (max-width: 1024px){
    .header__footer{
        display: none;
    }
    .header__inner{
        background: #FCD0BA;
    }
    .header__content{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header__title{
        max-width: 500px;

    }
    .header__inner{
        min-height: 750px;
    }
    .header{
        margin-bottom: 60px;
    }

    .choise__cards{
        flex-wrap: wrap;
        justify-content: center;
    }
    .choise__card-title{
        font-size: 40px;
    }
    .choise__subtitle{
        font-size: 18px;
    }
    .choise__title{
        font-size: 45px;
        margin-bottom: 35px;
    }

}

@media (max-width: 850px){
    .nav__item:not(:last-child) {
        margin-right: 20px;
    }
    .info__card-title{
        font-size: 24px;
        max-width: 370px;
    }

    .info__main-card-title{
        font-size: 32px;
        max-width: 450px;
        margin-bottom: 30px;
    }

    .header__title {
        font-size: 50px;
        margin-bottom: 25px;
    }
    
    .header__text {
        max-width: 342px;
        font-size: 16px;
        margin-bottom: 14px;
    }
    .header__desc{
        font-size: 13px;
    }
    .download__title{
        font-size: 45px;
    }


}
@media (max-width: 700px){
    .info__cards{
        gap: 20px;
    }
    .header__form{
        display: none;
    }
    .info__card-btn{
        padding: 15px 25px;
        font-size: 12px;
    }
    .header__inner{
        min-height: 650px;
    }
    .company__container {
        padding: 50px 0;
    }
    .company__title{
        margin-bottom: 15px;
    }
    .info__content{
        margin-bottom: 50px;
    }
    .choise__card{
        width: 300px;
        height: 600px;
    }
    .choise__container {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

@media (max-width: 650px){
    .footer__column:first-child{
        width: 100%;
    }
    .footer__main{
        flex-wrap: wrap;
    }
}

@media (max-width: 550px){
    .info__cards{
        display: grid;
        flex-basis: 100%;
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 40px;
    }
    .info__main-card-title{
        font-size: 24px;
        max-width: 400px;
        margin-bottom: 15px;
    }
    .header__title {
        font-size: 40px;
        margin-bottom: 25px;
    }
    .company__item{
        padding: 15px;
    }
    .company__inner {
        column-gap: 0px;
        row-gap: 0px;
    }
    .choise__title{
        font-size: 35px;
        margin-bottom: 15px;
    }
    .download__title{
        font-size: 35px;
    }


}


@media (max-width: 435px){
    .nav__item:last-child {
        margin-right: 10px;
    }
    .nav{
        margin-bottom: 45px;
    }
    .header__inner{
        min-height: 550px;
    }
    .download__title{
        font-size: 30px;
    }

}